body {
    font-family: Arial, sans-serif;
    margin: 20px;
    
}

.table-project-container{
    max-width: 1400px; /* กำหนดความกว้างสูงสุด */
    width: 100%; /* ความกว้าง 90% ของหน้าจอ */
    box-sizing: border-box; /* ทำให้ padding ไม่เพิ่มความกว้างของ element */
    align-items: center;
    margin: 20px auto; /* เว้นช่องว่างบนและล่าง */
    padding: 20px;
}



table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

th, td {
    padding: 10px;
    text-align: left;
}
tbody {
    background-color: #F7F0F0; /* ใช้สีเดียวกับเซลล์ในตาราง */
}

th {
    background-color: #FFEAEA; /* Light pink background for headers */
}

td {
    background-color: #F7F0F0; /* Light pink background for table cells */
}

.add-button {
    background-color: #4CAF50; /* Green button color */
    color: white;
    padding: 10px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    margin-left: auto; /* Align the button to the right */
}

.add-button img {
    margin-left: 10px;
    height: 20px;
}

.action-icons{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
 
}


.tooltip {
    visibility: hidden;
    width: 80px; /* กำหนดความกว้าง */
    background-color: #555; /* สีพื้นหลัง */
    color: #fff; /* สีข้อความ */
    text-align: center;
    border-radius: 5px; /* มุมมน */
    padding: 5px; /* ช่องว่าง */
    position: absolute;
    z-index: 1;
    bottom: 125%; /* แสดงด้านบนของไอคอน */
    left: 50%;
    margin-left: -40px; /* ศูนย์กลาง */
    opacity: 0; /* โปร่งใส */
    transition: opacity 0.3s; /* การเปลี่ยนแปลง */
}

.action-icons:hover .tooltip {
    visibility: visible;
    opacity: 1; /* แสดงข้อความเมื่อชี้ */
}

.action-icons img {
    cursor: pointer; /* เปลี่ยนเคอร์เซอร์เมื่อชี้ไปที่ไอคอน */
    width: 35px;
    height: 35px;
}



